#header {
    height: auto;
    color: lightsteelblue;
}

#mainTitle {
    font-size: 80px;
    margin: 10px 0;
    text-align: center;
    display: inline-block;
}

#userImage {
    height: 80px;
    width: auto;
    display: inline-block;
}