@font-face {
    font-family: Syne;
    src: url(data/fonts/Syne/static/Syne-Bold.ttf);
}

@font-face {
    font-family: Inter;
    src: url(data/fonts/Inter/Inter-VariableFont_opsz,wght.ttf);
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

h1, b {
    color: white;
    font-family: Syne, sans-serif;
    font-weight: normal;
}

h2, h3, h4, h5, h6 {
    color: white;
    font-family: Inter, sans-serif;
}

#header {
    height: 100px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: flex-end;
}

#white-line {
    margin-top: 0;
    border : 2px solid white;
}

#user-image {
    margin: 10% 0 10%;
    height: 80%;
    width: auto;
}

#travia-logo {
    margin: 2px 0 0;
    height: 100%;
    width: auto;
}

#mainTitleLink {
    margin-right: auto;
    text-decoration: none;
    padding-left: 0.5%;
}

#mainTitle {
    transition: color 0.5s;
    color: white;
    font-size: 5rem;
    height: 100%;
    text-align: center;
    margin: 5% 0 0;
}

#mainTitle:hover {
    color: dodgerblue;
}

#genDiv {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: row;
    margin-top: 40px;
}

.admin-link:link, .admin-link:visited, .admin-link:active {
    text-decoration: none;
    color: white;
    font-family: Syne, sans-serif;
    font-weight: normal;
}


.GenButton {
    width: 100px;
    height: 50px;
    background-color: #050505;
    text-align: center;
    justify-content: center;
    margin: 1em;
    border: 3px outset dimgray;
    transition: all 0.5s;
}

.GenButton:hover {
    background-color: midnightblue;
    border-color: dodgerblue;
}

.autocomplete {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}

.autocomplete div {
    margin-right: 1em;
    color: white;
    font-family: Syne, sans-serif;
    font-weight: normal;
}

.autocomplete .search {
    width: 250px;
}

.autocomplete .search input {
    width: 250px;
}

.autocomplete-items div {
    width: 254px;
    border: 2px outset dodgerblue;
    background-color: black;
}

div.autocomplete-active {
    border: 2px outset white;
}

.selected-travel {
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2%;
    background: rgba(105, 105, 105, 0.1);
    border-radius: 1rem;
}

.planet-info {
    width: 40%;
    flex: 1 1 0px;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.planet-image {
    height: 200px;
    width: 200px;
    margin-bottom: 5%;
}

img.circle {
    object-fit: cover;
    border-radius: 50%;
    height: 100%;
    width: 100%;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.selected-travel h1 {
    margin: 0;
    color: white;
    font-size: 50px;
    text-align: center;
}

.selected-travel h2 {
    margin: 0;
    color: dimgray;
}

.selected-travel h3 {
    margin: 0;
    font-size: 16px;
    color: dimgray;
}

.selected-travel h2 #important {
    color: white;
}

.travel-info {
    flex: 1 1 0px;
    width: 20%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.travel-arrow {
    height: 120px;
    width: auto;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#info-container {
    flex: 1 0 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#map-spacer {
    flex: 1 0 0px;
    width: 25%;
}

#ticket-selector-container {
    flex: 1 0 0px;
    width: 25%;
}

#map-container {
    flex: 1 0 0px;
    display: flex;
    justify-content: center;
}

#map {
    margin-top: 1%;
    margin-bottom: 1%;
    height: 400px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 15px solid rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
}

#more-travels-title {
    margin-bottom: 0;
    margin-left: 2%;
}

.non-selected-travel {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1%;
    background: rgba(105, 105, 105, 0.1);
    border: 0;
    border-radius: 1rem;
    cursor: pointer;
}

.non-selected-travel span {
    margin: 1% 0;
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: Inter, sans-serif;
    font-weight: bold;
}

.non-selected-travel span:nth-child(1) {
    margin-left: 1%;
}

.non-selected-travel span:last-child {
    margin-right: 1%;
}

div.leaflet-popup-tip {
    background-color: #222222;
    border: 1px solid white;
}

div.leaflet-popup-content-wrapper {
    background-color: #222222;
    border: 1px solid white;
}

div.leaflet-popup-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 150px;
}

.lightbox-planet-name {
    transform: translate(0,-4rem);
    font-size: 22px;
    font-family: Syne;
    color: white;
    text-align: center;
    margin-bottom: 5%;
}

.lightbox-planet-image {
    transform: translate(0,calc(-4rem - 1px));
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(0,0,0,0) 50%);
    clip-path: circle(3.2rem);
    padding: 1px;
}