#header {
    height: auto;
    background-color: lightsteelblue;
    display: flex;
    justify-content: space-between;
}

#mainTitle {
    font-size: 80px;
    margin: 10px 0;
    text-align: center;
}

#userImage {
    margin: 10px;
    margin-left: auto;
    height: 80px;
    width: auto;
}